@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

button {
  border-width: 0;
}

button:focus {
  border-width: 0;
  outline-width: 0;
}

.container {
  margin: 0 165px;
}

.flex {
  display: flex;
}

@media (max-width: 1000px) {
  .container {
    margin: 0 45px;
  }
}

/* ######################### HTML Element Styling ################# */

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ###################### Utility Classes #################### */

.main-container {
  width: 100%;
}

.font-bold {
  font-weight: bold;
}

.color-black {
  color: #000000;
}

/* ###################### NAVBAR #################### */

.navbar {
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 89px;
}

.navbar .logo img {
  margin-right: 11px;
}

.navbar .logo div {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .menu li {
  list-style: none;
}

.navbar .menu a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-right: 32px;
}
.navbar .menu a i {
  font-size: 12px;
  color: #18191f;
  margin-left: 8px;
}
.navbar .badges {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .badges img {
  cursor: pointer;
}

/* ###################### INTRO #################### */
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.intro .head {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: black;
}

.intro button {
  margin-top: 35px;
  font-size: 16px;
  border-radius: 6px;
  width: 154px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8c30f5;
}

.intro button:hover {
  background-color: #8c30f5b4;
  cursor: pointer;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container .phone {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}
.intro-container .phone img {
  height: calc(100vh - 200px);
}

/* ###################### CAROUSEL #################### */
.carousel {
  width: 100%;
  height: 142px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50.38%,
      rgba(192, 204, 218, 0.1) 100%
    )
    100% 1;
}

.carousel .carouselbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel .carouselbox img {
  margin: 0 auto;
}

.arrownav img {
  cursor: pointer;
}

/* @media (max-width: ) */


/* ###################### FEATURES #################### */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: 100%;
  background-color: #ffffff;
  margin: 64px 0;
}

.features .sectionheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-bottom: 48px;
}

.features .sectionheading .headline {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;

  text-align: center;
  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.features .sectionheading .description {
  width: 60%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.features .featurelist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 64px;
  width: 100%;
  background-color: #ffffff;
}

@media (max-width: 1000px) {
  .features .featurelist-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .features .featurelist-container {
    grid-template-columns: 1fr;
  }
  .ftn .details .feature-description {
    width: 60%;
    margin: 0 auto;
  }
}

.ftn .details .feture-headline {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
  font-feature-settings: "salt" on, "liga" off;

  margin-bottom: 8px;

  color: #18191f;
}

.ftn .details .feature-description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.ftn .featureIcon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

/* ###################### TESTIMONIAL #################### */
.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: max-content;
  width: 100%;
  background: #d5fafc;
}

.section1 {
  grid-area: A;
  justify-self: end;
}
.section2 {
  grid-area: B;
  justify-self: end;
}
.section3 {
  grid-area: C;
  /* justify-self: start; */
  justify-self: baseline;
}
.section4 {
  grid-area: D;
  /* justify-self: ; */
  justify-self: first baseline;
}
.testimonial {
  display: grid;
  grid-template-areas:
    "A C"
    "B C"
    "B D"
    "B  D";
  grid-gap: 30px;

  margin: 72px 0;
}

/* Quote Mark */
.testimonial .main-quotemark {
  width: max-content;

  opacity: 0.3;
}

.testimonial .sectionheading {
  width: 40vw;
  height: max-content;
}

.testimonial .sectionheading .heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;

  margin: 8px 0px;
  position: relative;
}

.testimonial .sectionheading .heading::before {
  content: url("../img/Quote Mark.png");
  opacity: 0.4;
  position: absolute;
  left: -100px;
  top: -50px;
}

.testimonial .sectionheading .description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;

  margin: 8px 0px;
}

.testimonial .testimonial3 {
  padding: 32px;


  width: 26vw;
  background: #ffffff;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.testimonial .logo {
  margin-bottom: 25px;
}
.testimonial .content {
  display: flex;
}

.testimonial .content .quotemark {
  margin-right: 16px;
}

.testimonial .content .feedback {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.testimonial .content .personDetails {
  margin-top: 24px;
}

.testimonial .content .personDetails .name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  font-feature-settings: "salt" on, "liga" off;

  /* Text / Gray 900 */

  color: #18191f;
}

.testimonial .content .personDetails .signature {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  font-feature-settings: "salt" on, "liga" off;

  color: #969bab;
  margin-bottom: 16px;
}

.testimonial .testimonial1 {
  width: 31vw;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;

  padding: 32px;
}

.testimonial .testimonial2 {
  width: 26vw;

  background: #ffffff;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;

  padding: 32px;
}


@media (max-width: 1000px){
  .testimonial-container .testimonial{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
  }

  .testimonial-container .testimonial .section{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 20px 0;
    width: auto;
  }

  .testimonial-container .testimonial .item{
    width: 60vw;
  }

  .testimonial-container .testimonial .heading::before{
    transform: scale(0.8);
  }
}

@media (max-width: 600px){
  .testimonial-container .testimonial .heading{
    font-size: 40px;
  }

  .testimonial-container .testimonial .heading::before{
    transform: scale(0.5);
  }
}

/* ###################### STATS #################### */
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: max-content;
  width: 100%;
  background-color: #ffffff;

  margin: 82px 0;
}

.stats .sectionheading .heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.stats .sectionheading .description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.count-grid-container {
  display: grid;
  grid-template-columns: auto auto;

  grid-column-gap: 30px;
  grid-row-gap: 40px;

  background-color: #ffffff;
}

.count-grid-container .sts {
  display: flex;
  flex-direction: row;
  width: 180px;
  max-width: max-content;
  background-color: #ffffff;
}

.count-grid-container .sts .icon {
  margin: 16px;
}

.count-grid-container .sts .details .number {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.count-grid-container .sts .details .label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

@media(max-width: 375px){
  .stats-container .stats .count-grid-container{
    grid-column-gap: 0px;
    transform: scale(0.8);
  }

  .stats-container .stats .sectionheading .heading{
    font-size: 35px;
  }
}

@media (max-width: 846px){
  .stats-container .stats{
    flex-direction: column;
  }

  .stats .sectionheading{
    width: 100%;
    align-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* ###################### Feature #################### */

.headline-feature{
  height: max-content;
}


.feature {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: #ffffff;

  padding: 64px 0;
}

.feature .phonemockup {
  display: flex;
  justify-content: center;

  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 540px;

  background: #f1e4ff;
  border-radius: 8px;
}

.feature .phonemockup .phone {

  margin: 56px 0;
}

.feature .content {
  width: 50vw;

  background-color: #ffffff;

  padding-left: 48px;
}

.feature .content .headline {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.feature .content .description {

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;

  margin: 32px 0;
}

.feature .content .getStarted {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  font-feature-settings: "salt" on, "liga" off;

  color: #8c30f5;
}

.feature .content .getStarted:hover {
  cursor: pointer;
  text-decoration: underline;
}


@media (max-width: 1200px){
  .feature .container{
    margin: 0;
  }

  .feature .phonemockup {
    max-height: 70vh;
  }
  .feature .phonemockup .phone {
    transform: scale(0.8);
    margin: 20px;
  }
}
@media (max-width: 500px){
  .feature .phonemockup {
    max-height: 10vh;
  }
  .feature .phonemockup .phone {
    transform: scale(0.6);
  }
  
}
@media (max-width: 800px){
  .headline-feature .feature{
    display: flex;
    flex-direction: column;
    
  }

  .headline-feature .feature .ftn{
    margin: 20px;
    width: 80%;
  }
  .headline-feature .feature .phonemockup{
    width: 80%;
  }
  .feature .phonemockup {
    max-height: 55vh;
  }
}




/* ###################### Footer #################### */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;

  color: #ffffff;
  background-color: #0b0d17;
}

.footer-container .container {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;

  margin: 56px 0;
}

.footer .leftsection .link {
  display: flex;

  margin: 24px 0;

  color: #ffffff;
}
.footer .links div {
  margin-right: 24px;
}

.footer .links .link a {
  cursor: pointer;
  color: #ffffff;
}

.footer .downloadBadges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.footer .downloadBadges .badge {
  margin-top: 16px;
  cursor: pointer;
}


@media (max-width: 660px){
  .footer{
    display: flex;
    flex-direction: column;
  }

  .footer-container .footer{
    margin-left:15px;
  }

  .footer .downloadBadges{
    margin-top: 20px;
  }

  .footer .downloadBadges .badges{
    display: flex;
    flex-direction: row;
  }

  .footer .downloadBadges .badge{
    margin-top: 10px;
    margin-right: 20px;
  }

  .footer .links .link{
    display: flex;
    flex-direction: column;
  }

  .footer .links .link{
    margin: 15px;
    margin-left: 0;
  }
  .footer .links .link div{
    margin: 5px;
    margin-left: 0;
  }
}